---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v2/rubygems/atlassian-jwt/versions/0.2.1.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 30 Sep 2023 10:02:28 GMT
      X-Backend:
      - F_Rails 52.25.82.247:443
      Etag:
      - '"7bc83f99fd32384a7776345fd002957a"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"atlassian-jwt","downloads":32325569,"version":"0.2.1","version_created_at":"2021-08-13T00:04:13.459Z","version_downloads":13507385,"platform":"ruby","authors":"Spike
        Ilacqua, Seb Ruiz, Ngoc Dao","info":"This gem simplifies generating the claims
        needed to authenticate with the Atlassian Connect REST APIs.","licenses":["Apache
        2.0"],"metadata":{},"yanked":false,"sha":"2fd2d87418773f2e140c038cb22e049069708aff2bd0a423a7e1740574e97823","spec_sha":"0ba9c46a844c4ff6c656f1a7c9763b50109d3ef4c76c33ecaa1fd79ac6e0244d","project_uri":"https://rubygems.org/gems/atlassian-jwt","gem_uri":"https://rubygems.org/gems/atlassian-jwt-0.2.1.gem","homepage_uri":"https://bitbucket.org/atlassian/atlassian-jwt-ruby","wiki_uri":null,"documentation_uri":"https://www.rubydoc.info/gems/atlassian-jwt/0.2.1","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[{"name":"json","requirements":"~\u003e
        2.2"},{"name":"rake","requirements":"~\u003e 12.3"},{"name":"rspec","requirements":"~\u003e
        3.8"}],"runtime":[{"name":"jwt","requirements":"~\u003e 2.1"}]},"built_at":"2021-08-12T00:00:00.000Z","created_at":"2021-08-13T00:04:13.459Z","description":"This
        gem simplifies generating the claims needed to authenticate with the Atlassian
        Connect REST APIs.","downloads_count":13507385,"number":"0.2.1","summary":"Encode
        and decode JWT tokens for use with the Atlassian Connect REST APIs.","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 0","prerelease":false,"requirements":[]}'
  recorded_at: Fri, 19 Jul 2024 00:09:49 GMT
recorded_with: VCR 6.2.0
